@use '../base/variables' as *;

.contacts {
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .spot_down, .lime {
        position: absolute;
    }
}
.spot_down, .lime {
    bottom: 0;
    right: 0;
}

.lime {
    z-index: 2;
    right: 0;
}
.contact {
    &__info {
        margin-top: 50px;
        margin-left: 100px;
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    &__wrapper {
        display: flex;
        gap: 50px;
    }
    &__item {
        display: flex;
        gap: 10px;
        width: max-content;
        font-weight: 500;
        font-size: 22px;
        line-height: 130%;
        color: $body_color;
        a {
            color: $body_color;
        }
    }
    &_address {
        margin-top: 25px;
        font-weight: 500;
        font-size: 22px;
        line-height: 130%;
        color: $body_color;
        margin-bottom: 70px;
    }
}