@use '../base/variables' as *;

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(110px);
    padding: 0 50px;
    box-sizing: border-box;
    &__logo {
        img {
            width: 150px;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    width: 40vw;
    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-transform: lowercase;
        font-size: 18px;
        line-height: 21px;
        padding: 0;
        color: $body_color;
    }  
    &__item {
        text-decoration: none;
        &:hover {
            color: $hover_color;
        }
        a {
            display: block;
            font-size: inherit;
            color: inherit;
            text-decoration: none;
        }
    }
}
.burger {
    position: absolute;
    top: 20px;
    right: 50px;
    height: 21px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;
    }
    span.long {
        width: 36px;
    }
}