.home {
    width: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(75px);
    border-radius: 20px;
    margin-top: 80px;
    height: 900px;
    overflow: hidden;
    z-index: -1;
    &__wrapper {
        margin-left: 100px;
        z-index: 5;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #382C53;
    }
    &__header {
        margin: 0;
        z-index: 5;
        font-weight: 700;
        font-size: 124px;
        line-height: 130%;
        text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.5);
        span {
            color: #30DF8B;
        }
    }
    &__subheader {
        margin-top: 10px;
        max-width: 850px;
        z-index: 5;
        font-size: 33px;
        line-height: 130%;
        text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    }
    img {
        position: absolute;
    }
}

.spot_up {
    top: 0;
    left: 0;
}

.spot_down, .lime {
    bottom: 0;
    right: 0;
}

.lime {
    z-index: 2;
    right: -9%;
}
