@use '../base/variables' as *;

.partners {
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__title {
        margin-left: 100px;
        color: $main-color;
        font-weight: 500;
        font-size: 96px;
        line-height: 130%;
    }
    &__subtitle {
        margin-top: 15px;
        margin-left: 100px;
        margin-right: 100px;
        font-weight: 500;
        font-size: 42px;
        line-height: 130%;
        color: $body_color;
    }
    &__wrapper {
        margin: 25px 100px 0 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item img {
        width: 120px;
    }
    &__text {
        margin: 45px 100px 0 100px;
        font-weight: 500;
        font-size: 22px;
        line-height: 130%;
        color: $body_color;
        span {
            color: $hover_color;
        }
    }
}